body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainDiv {
  height: 40%; 
  background-color: turquoise; 
  width: 90%;
  max-width: 350px;
  margin-top: 5%;
  padding-bottom: 3%; 
  border-radius: 15px;
}

#clock {
  font-size: clamp(1.2rem, 10vw, 4rem);
  padding-top: 5%; 
  padding-bottom: 5%;
  color: chocolate;
  text-align: center;
  font-weight: bold;
}

#div1, #div2  {
  display:flex;
  align-items: center;
  justify-content: center;
}

#setAlarm {
  font-size: clamp(1rem, 5vw, 2rem); 
  border-radius: 20px; 
  background-color: blue;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

#alarmInput,
#submitAlarm,
#updateAlarm {
  display: block;
  margin: 5px auto;
  width: 50%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}


#alarm1, #alarm2, #alarm3, #alarm4 {
  display:flex; 
 align-items: center;
 justify-content: center;
}

#a1, #a2, #a3, #a4 {
  padding-right: 4%;
}

#update1, #update2, #update3, #update4 {
  margin-right: 2%; 
  padding: 2%; 
  border-radius: 50px; 
  background-color: green;
}

#del1, #del2, #del3, #del4 {
  border-radius: 80px; 
  background-color: burlywood;
  padding: 2%;
}










